<%- include('partials/_header') %>
<%- include('navbar') %> 
<h3 class="mt-4">Ficha de Afiliación</h3>
<div class="card border-<%= afiliadx.confirmada ? 'success' : 'danger' %> mb-3" id="<%= afiliadx._id %>">
    <div class="card-header text-white bg-<%= afiliadx.confirmada ? 'success' : 'danger' %>">
        <h2 class="text-center"><b>DNI: <%= afiliadx.dni %></b></h2>
    </div>
    <div class="card-body">
        <h3 class="card-title">
            <%= afiliadx.apellido + ' ' + afiliadx.nombre %>
        </h3>
        <p class="card-text">
            Domicilio: <b><%= afiliadx.domicilio %></b><br>
            Edad: <b><%= afiliadx.edad %></b><br>
            Profesion: <b><%= afiliadx.profesion %></b><br>
            Fecha de nacimiento: <b><%= afiliadx.nacimiento.toJSON().split('T',1)[0] %></b><br>
            Celu: <b><%= afiliadx.contacto %></b>
        </p>
        <% if (afiliadx.contacto > 4) { %>
            <a class="btn btn-outline-success btn-sm mb-3" href="https://wa.me/549<%= afiliadx.contacto %>">Enviar WP</a> 
        <% } %>
        
        <% if (afiliadx.confirmada) { %>
            <div class="form-check form-switch">
                <label class="form-check-label" for="contactadx">Contactadx</label>
                <input class="form-check-input" type="checkbox" id="contactadx" <%= afiliadx.estado.contactadx ? 'checked' : '' %>>
            </div>
            <div class="form-check form-switch">
                <label class="form-check-label" for="votante">Confirmadx para votar</label>
                <input class="form-check-input" type="checkbox" id="votante" <%= afiliadx.estado.votante ? 'checked' : '' %>>
            </div>
            <div class="form-check form-switch mb-3">
                <label class="form-check-label" for="voto">Votó</label>
                <input class="form-check-input" type="checkbox" id="voto" <%= afiliadx.estado.voto ? 'checked' : '' %>>
            </div>
        <% } else { %>
            <p class="card-text text-danger mb-3">Afiliación pendiente o caída</p>
        <% } %>
        <div class="row">
            <div class="col d-grid gap-2 mb-3">
                <a class="btn btn-outline-primary" href="/afiliadx/editar/<%= afiliadx.id %>">Editar datos</a>
            </div>
            <div class="col d-grid gap-2 mb-3">
                <a class="btn btn-outline-danger" href="/afiliadx/borrar/<%= afiliadx.id %>">Eliminar Afiliadx</a>
            </div> 
        </div>
   
    </div>
  </div>
  <script>
      $('.form-check-input').on('click',function () {
          var tipo = $(this).attr('id')
          var id = $('.card').attr('id')
          location.replace(`/afiliadx/estado/${tipo}/${id}`)
      })
  </script>


<%- include('partials/_footer') %>