<%- include('partials/_header') %>
<%- include('navbar') %> 

<form action="/afiliadx/editar/<%= afiliadx._id %>" method="POST" class="d-grid gap-2">
    <div class="d-flex justify-content-between">
        <h3>Editar afiliadx</h3>
    </div>
    <div class="form-floating">
        <input type="number" name="dni" id="dni" class="form-control" autocomplete="off" placeholder="DNI" value=<%= afiliadx.dni %>>
        <label for="dni">DNI</label>
    </div>

    <div class="form-floating">
        <input type="text" name="nombre" id="nombre" class="form-control" autocomplete="off" placeholder="Nombre" value="<%= afiliadx.nombre %>" >
        <label for="nombre">Nombre</label>
    </div>
    <div class="form-floating">
        <input type="text" name="apellido" id="apellido" class="form-control" autocomplete="off" placeholder="Apellido" value="<%= afiliadx.apellido %>">
        <label for="apellido">Apellido</label>
    </div>
    <div class="form-floating">
        <input type="date" name="nacimiento" id="nacimiento" class="form-control" autocomplete="off" placeholder="Nacimiento" value="<%= afiliadx.nacimiento.toJSON().split('T',1)[0] %>">
        <label for="nacimiento">Fecha de Nacimiento</label>
    </div>
    <div class="form-floating">
        <input type="number" name="contacto" id="contacto" class="form-control" autocomplete="off" placeholder="Celular" value=<%= afiliadx.contacto %>>
        <label for="dni">Celular</label>
    </div>
    <div class="form-floating">
        <input type="text" name="domicilio" id="domicilio" class="form-control" autocomplete="off" placeholder="Domicilio" value="<%= afiliadx.domicilio %>" >
        <label for="domicilio">Domicilio</label>
    </div>
    <div class="form-floating">
        <input type="text" name="profesion" id="profesion" class="form-control" autocomplete="off" placeholder="Profesion" value="<%= afiliadx.profesion %>" >
        <label for="profesion">Profesion</label>
    </div>

    <button type="submit" class="btn btn-outline-success btn-lg" aria-describedby="nombre" id="buscar">Enviar</button>
    <a href="/afiliadx/<%= afiliadx._id %>" class="btn btn-outline-secondary btn-lg">Cancelar</a>
</form>

<%- include('partials/_footer') %>