<%- include('partials/_header') %>
<%- include('navbar') %>

<form action="/calle" method="post" class="d-grid gap-4">
    <div class="d-flex justify-content-between">
        <h3>Consulta Afiliadxs por Calle</h3>
        <!--a class="btn btn-outline-primary btn-sm" href="/dni">Buscar por DNI</a-->
    </div>

    <div class="form-floating">
        <input type="text" name="calle" id="calle" class="form-control" autocomplete="off" placeholder="Calle">
        <label for="calle">Calle</label>
    </div>

    <!--div class="form-floating">
        <input type="number" name="suma" id ="suma" class="form-control" autocomplete="off" placeholder="cuenta" required>
        <label for="suma" class="col-form-label">Escribí el resultado de <%#= sum1 %> + <#%= sum2 %></label>
    </div-->

    <button class="btn btn-outline-success btn-lg" aria-describedby="calle" id="buscar">Buscar</button>
</form>

<div class="alert alert-<%= afiliadx.color + ' ' + afiliadx.display %>"><%= afiliadx.texto %></div>
<h5><%= consulta.length %> resultados de calle <b><%= _calle %></b></h5>
<ul class="list-group list-group mb-4 <%= consulta.display %>">
    <% for( let i = 0; i < consulta.length; i++ ) { %>
        <% if (consulta[i].confirmada === true) { %>
            <li class="list-group-item list-group-item-success d-flex justify-content-between">
                <div class="col">
                    <%=consulta[i].nombre + ' ' + consulta[i].apellido + ' DNI: '%><b><%=consulta[i].dni%></b> está afiliadx :)
                </div>
                <div class="col d-flex justify-content-between">
                    <a class="btn btn-outline-primary btn-sm" href="/afiliadx/<%= consulta[i]._id %> ">Ver Ficha</a>
                    <% if (consulta[i].estado.votante) { %>
                        <a class="btn btn-outline-danger btn-sm" href="/afiliadx/estado/votante/<%= consulta[i]._id %>">Desmarcar como confirmadx</a>
                    <% } else { %>
                        <a class="btn btn-outline-success btn-sm" href="/afiliadx/estado/votante/<%= consulta[i]._id %>">Marcar como confirmadx</a>
                    <% } %>
                </div>
            </li>
        <% } else { %>
            <li class="list-group-item list-group-item-warning">
                <%='La afiliación de '+ consulta[i].nombre + ' ' + consulta[i].apellido + ' DNI: '%><b><%=consulta[i].dni%></b> fue enviada pero rebotó o se cayó :/ 
                <a class="btn btn-outline-primary btn-sm" href="/afiliadx/<%= consulta[i]._id %> ">Ver Ficha</a>
            </li>
                
        <% } %>
    <% } %>
</ul>
<%- include('partials/_footer') %>