<%- include('partials/_header') %>
<%- include('navbar') %>

<form action="/dni" method="POST" class="d-grid gap-4">

    <div class="d-flex justify-content-between">
        <h3>Consulta Afiliadxs por DNI</h3>
        <!--a class="btn btn-outline-primary btn-sm" href="/nombre">Buscar por Nombre</a-->
    </div>

    <div class="form-floating">
        <input type="number" name="dni" id="dni" class="form-control" autocomplete="off" placeholder="DNI" required>
        <label for="dni">DNI</label>
    </div>

    <!--div class="form-floating">
        <input type="number" name="suma" id ="suma" class="form-control" autocomplete="off" placeholder="cuenta" required>
        <label for="suma" class="col-form-label">Escribí el resultado de <#%= sum1 %> + <#%= sum2 %></label>
    </div-->

    <button type="submit" class="btn btn-outline-success btn-lg" aria-describedby="dni" id="buscar">Buscar</button>

    <div class="alert alert-<%= afiliadx.color + ' ' + afiliadx.display %> d-flex justify-content-between">
        <%= afiliadx.texto %>
        <a class="btn btn-outline-primary" href="/afiliadx/<%= afiliadx._id %> ">Ver Ficha</a>
        <% if (!afiliadx.conf) { %>
            <a class="btn btn-outline-success" href="/afiliadx/estado/votante/<%= afiliadx._id %>">Marcar como confirmadx</a>
        <% } else { %>
            <a class="btn btn-outline-danger" href="/afiliadx/estado/votante/<%= afiliadx._id %>">Desmarcar como confirmadx</a>
        <% } %>
    </div>
    
</form>

<%- include('partials/_footer') %>