<%- include('partials/_header') %>
<%- include('navbar') %>
    <h1>Consulta Afiliadxs</h1>
    <form class="d-grid gap-2" action="/dni" method="GET">
        <button type="submit" class="btn btn-outline-primary btn-lg">Buscar por DNI</button>
    </form>
    <form class="d-grid gap-2" action="/nombre">
        <button type="submit" class="btn btn-outline-primary btn-lg">Buscar por Nombre y Apellido</button>
    </form>
    <form class="d-grid gap-2" action="/calle">
        <button type="submit" class="btn btn-outline-primary btn-lg">Busar por Calle</button>
    </form>
    <form class="d-grid gap-2" action="/lista">
        <button type="submit" class="btn btn-outline-primary btn-lg">Ver listas por Lugar</button>
    </form>
    <a class="btn btn-outline-primary btn-lg" href="/stats"><%= numeros.total > 1 ? 'Actualizar' : 'Ver estadísticas' %> </a>

    <% if (numeros.total > 1) { %>
        <h1>Total de afiliadx: <b><%= numeros.total%></b></h1>
        <h1>Mínimo de votantes: <b><%= numeros.minimo%></b></h1>

        <h4>Votos: <b><%= numeros.voto%></b></h4>
        <h6>Faltan: <b><%= numeros.minimo - numeros.voto%></b></h6>
        <div class="progress shadow-lg mb-5 bg-white rounded fs-2" style="height: 50px;">              
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                role="progressbar" 
                tyle=<%=`width:${numeros.por_voto}%; font-size: 150%` %>
                aria-valuenow="<%= numeros.por_voto %>"
                aria-valuemin="0"
                aria-valuemax="100">
                <b><%= numeros.por_voto %>% (<%= numeros.voto %>)</b>
                </div>
        </div>

        <h4>Votantes confirmadxs: <b><%= numeros.votante%></b></h4>
        <h6>Faltan: <b><%= numeros.faltan_confirmar%></b></h6>
        <div class="progress shadow-lg mb-5 bg-white rounded fs-2" style="height: 50px;">              
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                role="progressbar" 
                style=<%=`width:${numeros.por_votante}%; font-size: 150%` %>
                aria-valuenow="<%= numeros.por_votante %>"
                aria-valuemin="0"
                aria-valuemax="100">
                <b><%= numeros.por_votante %>% (<%= numeros.votante %>)</b>
                </div>
        </div>
<% } %>
<%- include('partials/_table') %> 

<%- include('partials/_footer') %>