<%- include('partials/_header') %>
<%- include('navbar') %>

<h3>Afiliadxs por Lugar</h3>

<div class="form-floating">
    <select name="distrito" id="lugar" class="form-select" onchange="submitSelect();">
        <option value="" disabled>Elegí un lugar</option>
        <% for( let i = 0; i < lugares.length; i++ ) { %>
            <% if (lugares[i] === "") { %>
                <option value="">NINGUNO</option> 
            <% } else {%>
                <option value="<%= lugares[i] %>" <%= lugares[i] === _distrito ? 'selected': '' %> ><%= lugares[i] %></option>
            <% } %>
        
        <% } %>
    </select>
    <label for="lugar">Lugar</label>
</div>
<% if (lista) { %>
    <div class="form-floating d-none d-sm-block">
        <input type="text" name="buscador" id="buscador" class="form-control" autocomplete="off" placeholder="Buscador" required>
        <label for="buscador">Buscador</label>
    </div>
    <h3><%= _distrito %> (<%= count %>)</h3>
    <div class="table-responsive d-none d-sm-block">
        <table class="table table-hover table-bordered" id="tabla">
            <thead class="table-ligth">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i < lista.length; i++) {%>
                    <tr id='<%= lista[i].id %>' scope="row" class="fila">
                        <td scope="col"><%= lista[i].nombre%></td>
                        <td scope="col"><%= lista[i].apellido%></td>
                        <td scope="col"><%= lista[i].domicilio%></td>
                        <td scope="col"><%= lista[i].contacto%></td>
                        <td scope="col"><%= lista[i].estado%></td>
                    </tr>
                    <%}%>
            </tbody>
        </table>
    </div>
    <div class="card-group d-block d-sm-none mt-4" id="cards">
        <% for (var i = 0;i < lista.length; i++) {%>
            <div class="card <%= lista[i].confirmada ? 'border-success' : 'border-warning' %>" id="<%= lista[i].id %>">
                <% if (lista[i].confirmada) { %>
                    <div class="card-header text-success">Confirmada</div> 
                <% } else { %>
                    <div class="card-header text-warning">Pendiente o caída</div> 
                <% } %> 
                <div class="card-body d-grid gap-2" >
                    <div class="row align-items-center">
                        <div class="col">
                            <h5 class="card-title" id="nombreApellido">
                                <%= lista[i].nombre %><br>
                                <%= lista[i].apellido %><br>
                                <small class="text-muted">(<%= lista[i].domicilio %>)</small>
                            </h5>
                            <p class="card-text"><%= lista[i].contacto %></p>
                        </div>
                        <div class="col-4 align-self-center">
                            <h1 class="card-text text-success text-end"><%= lista[i].monto %></h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-grid gap-2">
                            <p><%= lista[i].estado === null ? 'a contactar' : lista[i].estado %></p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>  
    </div>
<% } %>
<script>
    function submitSelect() {
        var selected = document.getElementById('lugar').value
        console.log(selected);
        document.location.replace(`/lista/${selected}`)
        
    }
    $("#buscador").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabla tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

</script>

<%- include('partials/_footer') %> 