<%- include('partials/_header') %>
<%- include('navbar') %>

<h3>Personas por vinculo</h3>

<div class="form-floating">
    <select name="distrito" id="vinculo" class="form-select" onchange="submitSelect();">
        <option value="" disabled selected>Elegí un vinculo</option>
        <% for( let i = 0; i < vinculos.length; i++ ) { %>
            <% if (vinculos[i] === "") { %>
                <option value="">NINGUNO</option> 
            <% } else {%>
                <option value="<%= vinculos[i] %>" <%= vinculos[i] === _vinculo ? 'selected': '' %> ><%= vinculos[i] %></option>
            <% } %>
        
        <% } %>
    </select>
    <label for="vinculo">Vínculo</label>
</div>
<%- include('partials/_table') %>
<script>
    function submitSelect() {
        var selected = document.getElementById('vinculo').value
        document.location.replace(`/vinculo/${selected}/1`)
        
    }
    $("#buscador").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tabla tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });

</script>

<%- include('partials/_footer') %> 